# Instructions

Read each question carefully and provide an appropriate answer in the following cells. Depending on the question, you may need to provide code or a text submission. **Be sure to label your answers with the question number for easy identification!**

**Question 1: Which of the following statements is an example of a classification problem? (2 points)**

A. Apartment Price Prediction 

B. Customer Churn Prediction

C. Inventory Volume Forecasting

D. Electric Power Consumption Prediction

In [ ]:
1: B.

**Question 2: Add to the code block below where indicated to create training and testing datasets. Then create, fit, predict, and score a Logistic Regression model object to predict the target `is_promoted`. (8 points)**

In [1]:
# Dependencies
from sklearn import datasets
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd
import matplotlib.pyplot as plt

# Import Data

### YOUR CODE HERE

In [2]:
# Import Data
df = pd.read_csv('promotion_data.csv')
df.head(10)

,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,awards_won?,avg_training_score,is_promoted
0,2.0,2.0,2.0,1,35,5.0,8,0,49,0
1,1.0,1.0,1.0,1,30,5.0,4,0,60,0
2,1.0,1.0,1.0,1,34,3.0,7,0,50,0
3,1.0,1.0,1.0,2,39,1.0,10,0,50,0
4,1.0,1.0,1.0,1,45,3.0,2,0,73,0
5,1.0,1.0,1.0,2,31,3.0,7,0,85,0
6,1.0,1.0,1.0,1,31,3.0,5,0,59,0
7,2.0,2.0,2.0,1,33,3.0,6,0,63,0
8,1.0,1.0,1.0,1,28,4.0,5,0,83,0
9,2.0,2.0,2.0,1,32,5.0,5,0,54,0

In [3]:
X = df[['education','gender','recruitment_channel','no_of_trainings','age',
              'previous_year_rating','length_of_service','awards_won?','avg_training_score']]
y = df['is_promoted']
print(X.shape, y.shape)

(48660, 9) (48660,)

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(36495, 9) (12165, 9) (36495,) (12165,)

In [5]:
model = LogisticRegression()

In [6]:
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [7]:
y_pred = model.predict(X_test)

In [8]:
model.score(X_test, y_test)

0.9151664611590629

**Question 3: Using the model created in question 2, plot a Confusion Matrix. (4 points)**

In [24]:
from sklearn.metrics import plot_confusion_matrix

### YOUR CODE HERE
cm = confusion_matrix(y_test, y_pred)
print(cm)

NameError: name 'confusion_matrix' is not defined

**Question 4: Using the model created in question 2, print a Classification Report. (4 points)**

In [9]:
from sklearn.metrics import classification_report

### YOUR CODE HERE
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.96     11078
           1       0.74      0.08      0.14      1087

    accuracy                           0.92     12165
   macro avg       0.83      0.54      0.55     12165
weighted avg       0.90      0.92      0.88     12165

**Question 5: Which one of the following concepts can we use to reduce the dimensionality of our dataset through the creation of combination features? (2 points):**

A. Variable Inflation Factor

B. Eigendecomposition 

C. Principal Component Analysis

D. Analysis of Variance

In [ ]:
5.C.